@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  margin: 0 0;
  font-family: 'Montserrat', sans-serif !important;
}
body,html{
  overflow-x: hidden;
}
.primary{
  background-color:  rgb(236, 232, 48);
  padding:5px 20px;
  color: white;
  border: none;
  border-radius: 3px;

}
.secondary{
  background-color: rgb(23, 70, 65);
  padding:5px 20px;
  color: white;
  border: none;
  border-radius: 3px;

}
