.transactions-count{
    box-shadow: 0 0 2px rgb(54, 53, 53);
    padding: 10px;
    border-radius: 10px;
    color: rgb(23, 23, 23) !important;
}
.analytics h4{
    font-size: 22px;
    color: gray !important;
    font-weight: 600;
}
.analytics h5{
   font-size: 16px;
    color: gray !important; 
}

.category-card{
    padding: 5px 20px;
    box-shadow: 0 0 2px grey;
    margin-top: 15px;
    border-radius: 5px;
}
